<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>{% block title %}Immobilette{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/immobilette.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
</head>
<body>
<header>
    <nav class="container text-center mt-3 mb-3">
        <div class="row align-items-center justify-content-center navigationbar">
            <div class="col mx-auto">
                <a href="{{ path('app_home') }}"><i class="bi bi-house" style="font-size: 1.5em"></i></a>
            </div>
            <div class="col-6">
                <p class="font-weight-bolder fs-4 title">POO Immo</p>
            </div>
            <div class="col">
                {% if app.user %}
                    <a class="" href="{{ path('app_account') }}"><i class="bi bi-person-fill" style="font-size: 1.5em"></i> <small>({{ app.user.surname }})</small></a>
                {% else %}
                    <a class="" href="{{ path('app_login') }}"><i class="bi bi-person-fill" style="font-size: 1.5em"></i><p class="connect">Connexion</p></a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
<main role="main">
    {% block content %}
    {% endblock %}
    <footer>
    </footer>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
</body>
</html>